Package: startxpy
Version: 0.6.1-1
Architecture: all
Maintainer: Lev <levikabd@yandex.ru>
Installed-Size: 82
Depends: python3-tk
Section: python
Priority: optional
Description: IDE/launcher для проектов (startxpy)
 Пакет - дополнение к графической оболочке для удобства работы
 и запуска необходимых программ с GUI на Tkinter.
