Source: startxpy-lite
Section: python
Priority: optional
Maintainer: Lev <levikabd@yandex.ru>
Build-Depends: debhelper-compat (= 13), 
		dh-python,
        	python3-all,
		python3-setuptools,
    		python3-dev,
    		build-essential
Standards-Version: 4.5.0

Package: startxpy-lite
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Suggests: lxsession, lxsession-logout, xfce4-session
Description: IDE-like launcher/windowing framework for Python/Tkinter projects
 A small framework to launch and manage Tkinter-based IDE-like windows,
 with mixins for statusbar, dev-toolbar, etc.
