Package: startxpy-lite
Version: 0.7.3-1
Architecture: all
Maintainer: Lev <levikabd@yandex.ru>
Installed-Size: 54
Depends: python3:any
Section: python
Priority: optional
Description: IDE-like launcher/windowing framework for Python/Tkinter projects
 A small framework to launch and manage Tkinter-based IDE-like windows,
 with mixins for statusbar, dev-toolbar, etc.
