Package: startxpy-lite
Version: 0.7.4-2
Architecture: all
Maintainer: Lev <levikabd@yandex.ru>
Installed-Size: 80
Depends: python3:any
Suggests: lxsession, lxsession-logout, xfce4-session
Section: python
Priority: optional
Description: IDE-like launcher/windowing framework for Python/Tkinter projects
 A small framework to launch and manage Tkinter-based IDE-like windows,
 with mixins for statusbar, dev-toolbar, etc.
